/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p{
  border: solid;
  border-color: red;
} */
/* .centercontent{
  margin: auto;
} */
.jumbotron{
  background-image: url(../images/jumbotron.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.element {
  text-shadow:
  -1px -1px 0 #eee,
  1px -1px 0 #eee,
  -1px 1px 0 #eee,
  1px 1px 0 #eee;
}

/* footer */
html, body{
  height: 100%;

}
.page-wrap{
  min-height: 100%;
  margin-bottom: -100px;
}
.page-wrap:after{
  content: "";
  display: block;
}
.site-footer, .page-wrap::after{
  height: 100px;
}
.site-footer{
  background-color: #666666;
  /* margin-top: -150px; */
  height: 100px;
  background: solid;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  color: #ffffff;
  border-top: solid 5px;
  border-color: #4aaaa5;
  z-index: 1;
  min-width: 1000px;
  overflow: hidden;
}
footer p{
  margin-top: 70px;
  font-size: 10px;
}
.filler{
  height: auto;
}
